<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Conversion App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/temperature">Temperature</a></li>
                <li class="nav-item"><a class="nav-link" href="/length">Length</a></li>
                <li class="nav-item"><a class="nav-link" href="/results">Results</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1 class="mt-5">Welcome to the Conversion App</h1>
        <ul class="list-group mt-3">
            <li class="list-group-item"><a href="/temperature">Temperature Conversion</a></li>
            <li class="list-group-item"><a href="/length">Length Conversion</a></li>
            <li class="list-group-item"><a href="/results">Results</a></li>
        </ul>
    </div>
</body>
</html>
